# Python Variables

A Python varible is created the moment you first assign a value to it.

In [1]:
n = 3      # int
x = 2.5    # float

Variables do not need to be declared with any particular type. They get the type of their value.

In [2]:
type(n)

int

In [3]:
type(x)

float

Variables can change type after they have been set.

In [4]:
n = 3.3
type(n)

float

These are Boolean and string variables:

In [5]:
condition = False           # boolean
character_name = 'John'     # string

Print the value of the variable:

In [6]:
print(condition)
print(character_name)

False
John

Print the type of the variable:

In [7]:
print(type(condition))
print(type(character_name))

<class 'bool'>
<class 'str'>

In [8]:
n='No'   #n is now a string

In [9]:
print(type(n))

<class 'str'>

- **variable name**: can only contain alpha-numeric characters and underscore (A-z, 0-9, and _)

Variables names are case sensitive. Age and age are different variables.
These are two different variables:

In [10]:
age = 20
Age = 40

In [11]:
print('Laura is', age, 'years old. Her mother is ', Age)

Laura is 20 years old. Her mother is  40

Assign values to multiple variables:

In [12]:
name, age, grade = 'John', 20, 97.7

In [13]:
print('Name  =', name)
print('Age   =', age)
print('Grade =', grade)

Name  = John
Age   = 20
Grade = 97.7

## Python Arithmetic Operators

Operator | Name 
---------|-----
+ | addition
- | subtraction
* | multiplication
/ | division
% | modulus
** | exponentiation

In [14]:
#Remember:
x

2.5

In [15]:
n = x   # n = 2.5

In [16]:
print(n)

2.5

In [17]:
print(type(n))

<class 'float'>

In [18]:
#Remember:
condition

False

In [19]:
not_condition = not condition
print(not_condition)

True

In [20]:
#Remember:
character_name

'John'

In [21]:
full_name = character_name + ' Doe'
print(full_name)

John Doe

In [22]:
m = 5

In [23]:
#/ division
print(m/2)

2.5

In [24]:
#// floor division
print(m//2)

2

Floor division only gets the integer part of the result.

Floor division returns the quotient (answer or result of division) in which the digits after the decimal point are removed.

In [25]:
print('5/3  =', 5/3)
print('5//3 =', 5//3)

5/3  = 1.6666666666666667
5//3 = 1

m % n: is the remainder of the floor division m//n

In [26]:
m = 5
n = 3
print('Floor division: ', m, '//', n, '=', m//n)
print('Remainder:      ', m, ' %', n, '=', m%n)
print('Verification:   ', n,'*',m//n,'+',m%n,'=',n*(m//n)+(m%n))

Floor division:  5 // 3 = 1
Remainder:       5  % 3 = 2
Verification:    3 * 1 + 2 = 5

m**2 means x to the power of 2

In [27]:
print('Square of ',m,':', m**2)
print('Square of ',n,':', n**2)

Square of  5 : 25
Square of  3 : 9

You can raise m to a higher power

In [28]:
print(m, 'to the power of 2:', m**2)
print(m, 'to the power of 3:', m**3)
print(m, 'to the power of 4:', m**4)

5 to the power of 2: 25
5 to the power of 3: 125
5 to the power of 4: 625

It also works with negative values:

In [29]:
print(m, 'to the power of -1:', m**-1)

5 to the power of -1: 0.2

## Python Assignment Operators

|  "Operator"  |  "Example"    |  "Same as"        |
| :-: | :- | :- |
| = | x = 5  |  x = 5 |
| += | x += 5 | x = x + 5 |
| -= | x -= 5 | x = x - 5 |
| *= | x *= 5 | x = x * 5 |
| /= | x /= 5 | x = x / 5 |
| %= | x %= 5 | x = x % 5 |
| //= | x //= 5 | x = x // 5 |

In [30]:
m

5

Adding 10

In [31]:
m += 10
print(m)

15

Subtracting 2

In [32]:
m -= 3
print(m)

12

In [33]:
type(m)

int

Dividing by 4

In [34]:
m /= 4
print(m)

3.0

In [35]:
type(m)

float

Notice that the result of the division produce a float variable.