# Python tuple

- A tuple is a collection of Python objects separated by commas. 

- In Python tuples are written with round brackets or parentheses ().  

- Tuples are ordered, it means that the items have a defined order, and that order will not change.

- In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable.

In [1]:
# Empty tuple
t1 = ()
t1

()

If you have a `tuple` with one element, you must include a comma, (even though there is only one value.)

In [2]:
t2 = (4,)
print(type(t2))

<class 'tuple'>

In [3]:
# This is not a tuple:
t3 = (4)
print(type(t3))

<class 'int'>

In [4]:
t3 = (0, 'one', 'two', 3, 4, 5.5)
print(type(t3))
print('Length =', len(t3))

<class 'tuple'>
Length = 6

In [5]:
[type(c) for c in t3]

[int, str, str, int, int, float]

In [6]:
print(t3[2])

two

In [7]:
# This action is not valid for tuples. Tuples are unmutable. They cannot change.
t3[2] = 2           # This will raise an error

TypeError: 'tuple' object does not support item assignment

Once  a tuple is created, you cannot add items to it.

In [8]:
t3.append(6)        # This will raise an error

AttributeError: 'tuple' object has no attribute 'append'

But... you can convert it into a list, add your item(s), and convert it back into a tuple.

In [9]:
l3 = list(t3)
print(l3)
print(type(l3))

[0, 'one', 'two', 3, 4, 5.5]
<class 'list'>

In [10]:
# Add the new value:
l3.append(6)
print(l3)

[0, 'one', 'two', 3, 4, 5.5, 6]

In [11]:
# And convert L3 into a tuple
t3 = tuple(l3)
print(t3)
print(type(t3))

(0, 'one', 'two', 3, 4, 5.5, 6)
<class 'tuple'>

## Python methods for working with tuples

In [12]:
# len: lenght
len(t3)

7

In [13]:
# concatenation
t4 = t2 + t3
t4

(4, 0, 'one', 'two', 3, 4, 5.5, 6)

In [14]:
# membership
3 in t3

True

In [15]:
10 in t3

False

In [16]:
# count: returns the number of times a specific value occurs in a tuple
t4.count(4)

2

In [17]:
# index(): Searches the tuple for a specified value and returns the position of where it was found
t4.index(3)

4

In [18]:
# index: searches the tuple for a specified value and returns the first position of where it was found
t4.index('one')

2

In [19]:
# Tuples may be nested
t5 = ('123', 'hello', t4)
t5

('123', 'hello', (4, 0, 'one', 'two', 3, 4, 5.5, 6))

In [20]:
len(t5)

3

In [21]:
type(t5[0])

str

In [22]:
type(t5[2])

tuple