# Python Tuples

## Objectives

- Understand what tuples are and how they differ from lists.
- Learn to create and access tuple elements.
- Explore tuple methods and their immutability.

## Background

Tuples in Python are ordered collections similar to lists but are immutable. They are often used for data that should not change throughout the execution of a program, enhancing code safety and integrity.

## Datasets Used

This notebook does not use external datasets. It focuses on basic programming concepts involving tuples.

## Tuple Definition

A tuple is a collection of Python objects separated by commas. 

In Python, tuples are written with round brackets or parentheses ().  

Tuples are ordered, which means that the items have a defined order that will not change.

A tuple is similar to a list in terms of indexing, nested objects, and repetition, but a tuple is immutable.

In [1]:
# Empty tuple
t1 = ()
t1

()

If you have a `tuple` with one element, you must include a comma, even though there is only one value.

In [2]:
t2 = (4,)
print(type(t2))

<class 'tuple'>

In [3]:
# This is not a tuple
t3 = (4)
print(type(t3))

<class 'int'>

Tuples are heterogeneous.

In [4]:
t3 = (0, 'one', 'two', 3, 4, 5.5)
print(type(t3))
print('Length =', len(t3))

<class 'tuple'>
Length = 6

In [5]:
[type(c) for c in t3]

[int, str, str, int, int, float]

In [6]:
print(t3[2])

two

This action is not valid for tuples. Tuples are immutable: they cannot change.

In [7]:
t3[2] = 2       # This will raise an error

TypeError: 'tuple' object does not support item assignment

Once  a tuple is created, you cannot add items to it.

In [ ]:
t3.append(6)     # This will raise an error

AttributeError: 'tuple' object has no attribute 'append'

But you can convert it into a list, add your item(s), and convert it back into a tuple.

In [8]:
l3 = list(t3)
print(l3)
print(type(l3))

[0, 'one', 'two', 3, 4, 5.5]
<class 'list'>

In [9]:
# Add the new value:
l3.append(6)
print(l3)

[0, 'one', 'two', 3, 4, 5.5, 6]

In [10]:
# And convert L3 into a tuple
t3 = tuple(l3)
print(t3)
print(type(t3))

(0, 'one', 'two', 3, 4, 5.5, 6)
<class 'tuple'>

## Slicing

Tuple slicing allows for accessing a specified range of elements within a tuple, enabling the extraction of subsets through a similar syntax to list slicing.

In [11]:
# Get a slice from the second to the fourth element (inclusive of start, exclusive of end)
t3[1:4]

('one', 'two', 3)

In [12]:
# Get a slice from the beginning up to (but not including) the third element
t3[:3]

(0, 'one', 'two')

In [13]:
# Get a slice from the fifth element to the end
t3[4:]

(4, 5.5, 6)

## Python Methods for Working with Tuples

**len()**: lenght of the tuple

In [14]:
# t1 is an empty tuple.
len(t1)

0

In [15]:
len(t2)

1

In [16]:
len(t3)

7

**Tuples concatenation**

Notice that you are creating a new tuple with the concatenation. You are not modifying the tuples you already have.

In [17]:
t4 = t2 + t3
t4

(4, 0, 'one', 'two', 3, 4, 5.5, 6)

**Tuples membership**

In [18]:
3 in t3

True

In [19]:
10 in t3

False

**count()**: returns the number of times a specific value occurs in a tuple

In [20]:
t4.count(4)

2

**index()**: Searches the tuple for a specified value and returns the first position of the value. If the tuple does not contain the value, it raises an error.

In [21]:
t4.index(4)

0

In [22]:
# The value 'one' is at index 2
t4.index('one')

2

In [23]:
# There is not value 'five' in t4
t4.index('five')    # This will raise an error

ValueError: tuple.index(x): x not in tuple

Tuples may be nested

In [24]:
t5 = ('123', 'hello', t4)
t5

('123', 'hello', (4, 0, 'one', 'two', 3, 4, 5.5, 6))

t5 has 3 elements: two strings, and a tuple.

In [25]:
len(t5)

3

In [26]:
type(t5[0])

str

In [27]:
type(t5[1])

str

In [28]:
type(t5[2])

tuple

Accessing to the value: 'two'

In [29]:
t5

('123', 'hello', (4, 0, 'one', 'two', 3, 4, 5.5, 6))

In [30]:
t5[2]

(4, 0, 'one', 'two', 3, 4, 5.5, 6)

In [31]:
# Access the value 'two' in the third element of t5
t5[2][3]

'two'

In [32]:
# Aceess the value 6 in the third element of t5
t5[2][7]

6

In [33]:
# Accessing the value 6 in the third element of t5 using a different way
t5[2][-1]       # -1 for the last element

6

## Conclusions

Key Takeaways:
- Tuples are immutable, meaning once a tuple is created, its contents cannot be altered.
- Tuples are ideal for storing collections of items where the order matters and duplication is allowed, but modifications are not necessary. 
- Tuples support various operations such as indexing and slicing, offering flexibility in data manipulation.

## References

- VanderPlas, J. (2017) Python Data Science Handbook: Essential Tools for Working with Data. USA: O’Reilly Media, Inc.