# Python Dictionary

Python dictionary is a collection of key:value pairs. 

Each key:value pair maps the key to its associated value.

A dictionary is a collection that is ordered, changeable, and does not allow duplicates.

In [1]:
# empty dictionary
d = {}

In [2]:
type(d)

dict

In [3]:
d2 = {'name':'John', 'last_name':'Doe', 'age':30}
d2

{'name': 'John', 'last_name': 'Doe', 'age': 30}

In [4]:
d2['name']

'John'

In [5]:
# accesing items
student_name = d2['name']
student_name

'John'

In [6]:
# Other way: using get
student_name = d2.get('name')
student_name

'John'

In [7]:
d2['last_name']

'Doe'

In [8]:
d2['age']

30

In [9]:
# Change value
d2['age'] = 33
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33}

In [10]:
# check if key exists
'name' in d2

True

In [11]:
'middle_name' in d2

False

**Important**: dictionaries are accessed by key, not by the position of the items. 

It does not make sense to slice a dictionary.

In [12]:
d2['name':'last_name']          # This will raise an error

TypeError: unhashable type: 'slice'

## Python methods for working with dictionaries

**len()**: lenght of the dictionary

In [13]:
len(d2)

3

**items()**: Returns a list of tuples containing each key, value pair

In [14]:
d2.items()

dict_items([('name', 'John'), ('last_name', 'Doe'), ('age', 33)])

**keys()**: Returns a list containing the dictionary's keys

In [15]:
d2.keys()

dict_keys(['name', 'last_name', 'age'])

**values()**: Returns a list of all the values in the dictionary

In [16]:
d2.values()

dict_values(['John', 'Doe', 33])

**Adding items** 

It is done by using a new key and assigning a value to it.

In [17]:
d2['weight'] = 65
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33, 'weight': 65}

**update()**: Updates the dictionary with the specified key:value pairs

In [18]:
d2.update({'height':5.8})
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33, 'weight': 65, 'height': 5.8}

**pop()**: removes the item with specified key name

In [19]:
d2.pop('weight')
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33, 'height': 5.8}

**popitem()**: Removes the last inserted key:value pair

In [20]:
d2.popitem()

('height', 5.8)

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

If you want to copy the dict (which is rare), you have to do so explicitly with one of these two options:

In [21]:
d3 = dict(d2)       
d3

{'name': 'John', 'last_name': 'Doe', 'age': 33}

**copy()**: makes a copy of a dictionary

In [22]:
d3 = d2.copy()
d3

{'name': 'John', 'last_name': 'Doe', 'age': 33}

**clear()**: empties the dictionary

In [23]:
d3.clear()
d3

{}

In [24]:
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33}

**del**: removes the item with the specified key name

In [25]:
del d2['name']
d2

{'last_name': 'Doe', 'age': 33}

**del** can also delete the dictionary completely

In [26]:
del d2

In [27]:
d2          # This will raise an error

NameError: name 'd2' is not defined

### Nested Dictionaries

In [28]:
child1 = {
    'name':'Hazel',
    'year': 2001,
    'gender':'F'
}
child2 = {
    'name':'Helen',
    'year': 2003,
    'gender':'F'
}
child3 = {
    'name':'Abel',
    'year': 2006,
    'gender':'M'
}
child4 = {
    'name':'Diana',
    'year': 2012,
    'gender':'F'
}

In [29]:
child1

{'name': 'Hazel', 'year': 2001, 'gender': 'F'}

In [30]:
child1['name']

'Hazel'

In [31]:
family = {
    'child1':child1,
    'child2':child2,
    'child3':child3,
    'child4':child4
}
family

{'child1': {'name': 'Hazel', 'year': 2001, 'gender': 'F'},
 'child2': {'name': 'Helen', 'year': 2003, 'gender': 'F'},
 'child3': {'name': 'Abel', 'year': 2006, 'gender': 'M'},
 'child4': {'name': 'Diana', 'year': 2012, 'gender': 'F'}}

Accessing to 'Diana' using family dictionary:

In [32]:
family['child4']

{'name': 'Diana', 'year': 2012, 'gender': 'F'}

In [33]:
family['child4']['name']

'Diana'

## References

- VanderPlas, J. (2017) Python Data Science Handbook: Essential Tools for Working with Data. USA: O’Reilly Media, Inc.