# Python dictionary

- A dictionary consists of a collection of key:value pairs. 

- Each key:value pair maps the key to its associated value.

- A dictionary is a collection which is ordered, changeable and does not allow duplicates.

In [1]:
# empty dictionary
d = {}

In [2]:
type(d)

dict

In [3]:
d2 = {'name':'John', 'last_name':'Doe', 'age':30}
d2

{'name': 'John', 'last_name': 'Doe', 'age': 30}

In [4]:
# accesing items
student_name = d2['name']
student_name

'John'

In [5]:
# Other way: using get
student_name = d2.get('name')
student_name

'John'

In [6]:
# Change value
d2['age'] = 33
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33}

In [7]:
# check if key exists
'name' in d2

True

In [8]:
'middle_name' in d2

False

Remember: dictionaries are accessed by key, not by the position of the items. 

It doesnâ€™t make sense to slice a dictionary.

In [9]:
d2['name':'last_name']          # This will raise an error

TypeError: unhashable type: 'slice'

## Python methods for working with dictionaries

In [10]:
# len: lenght of a dictionary
len(d2)

3

In [11]:
# Adding items. It is done by using a new key and assigning a value to it.
d2['weight'] = 65
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33, 'weight': 65}

In [12]:
# update(): Updates the dictionary with the specified key-value pairs
d2.update({'height':5.8})
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33, 'weight': 65, 'height': 5.8}

In [13]:
# items(): Returns a list containing a tuple for each key value pair
d2.items()

dict_items([('name', 'John'), ('last_name', 'Doe'), ('age', 33), ('weight', 65), ('height', 5.8)])

In [14]:
# keys(): Returns a list containing the dictionary's keys
d2.keys()

dict_keys(['name', 'last_name', 'age', 'weight', 'height'])

In [15]:
# values(): Returns a list of all the values in the dictionary
d2.values()

dict_values(['John', 'Doe', 33, 65, 5.8])

In [16]:
# pop(): removes the item with specified key name
d2.pop('weight')
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33, 'height': 5.8}

In [17]:
# popitem(): Removes the last inserted key-value pair
d2.popitem()

('height', 5.8)

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

If you want to copy the dict (which is rare), you have to do so explicitly with one of these two options:

In [18]:
d3 = dict(d2)       
d3

{'name': 'John', 'last_name': 'Doe', 'age': 33}

In [19]:
# copy: make a copy of a dictionary
d3 = d2.copy()
d3

{'name': 'John', 'last_name': 'Doe', 'age': 33}

In [20]:
# clear: empties the dictionary
d3.clear()
d3

{}

In [21]:
d2

{'name': 'John', 'last_name': 'Doe', 'age': 33}

In [22]:
# del: removes the item with the specified key name
del d2['name']
d2

{'last_name': 'Doe', 'age': 33}

In [23]:
# del can also delete the dictionary completely
del d2

In [24]:
d2                  # This will raise an error

NameError: name 'd2' is not defined

In [25]:
# Nested Dictionaries
child1 = {
    'name':'Hazel',
    'year': 2001,
    'gender':'F'
}
child2 = {
    'name':'Helen',
    'year': 2003,
    'gender':'F'
}
child3 = {
    'name':'Abel',
    'year': 2006,
    'gender':'M'
}
child4 = {
    'name':'Diana',
    'year': 2012,
    'gender':'F'
}

In [26]:
child1

{'name': 'Hazel', 'year': 2001, 'gender': 'F'}

In [27]:
family = {
    'child1':child1,
    'child2':child2,
    'child3':child3,
    'child4':child4
}
family

{'child1': {'name': 'Hazel', 'year': 2001, 'gender': 'F'},
 'child2': {'name': 'Helen', 'year': 2003, 'gender': 'F'},
 'child3': {'name': 'Abel', 'year': 2006, 'gender': 'M'},
 'child4': {'name': 'Diana', 'year': 2012, 'gender': 'F'}}