# Python DateTime

In Python, `date`, `time` and `datetime` classes provides a number of function to deal with dates, times and time intervals.

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [1]:
import datetime as dt

In [2]:
# The datetime contains year, month, day, hour, minute, second, and microsecond.
x = dt.datetime.now()
print(x)

2021-02-22 13:09:49.787722

In [3]:
type(x)

datetime.datetime

In [4]:
# return the year
x.year

2021

The strftime() method formats date objects into readable strings

In [5]:
#%Y: returns year, full version
print(x.strftime("%Y"))

2021

In [6]:
# %y: returns year, short version, without century
print(x.strftime("%y"))

21

In [7]:
print(x.month)

2

In [8]:
# %B: returns month name
print(x.strftime("%B"))

February

In [9]:
# %b: returns month name, short version
print(x.strftime("%b"))

Feb

In [10]:
# %m: returns month as a number 01-12
print(x.strftime("%m"))

02

In [11]:
print(x.day)

22

In [12]:
# %A: return the name of weekday
print(x.strftime('%A'))

Monday

In [13]:
# %a: returns the name of weekday, short version
print(x.strftime('%a'))

Mon

In [14]:
# %w: returns weekday as a number, 0 for Sunday
print(x.strftime('%w'))

1

In [15]:
# %j: returns day number of the year 001-366
print(x.strftime('%j'))

053

In [16]:
print('hour:', x.hour)

hour: 13

In [17]:
# %H: returns hour: 00-23
print(x.strftime("%H"))

13

In [18]:
# %I: returns hour: 00-12
print(x.strftime("%I"))

01

In [19]:
# %p: AM/PM
print(x.strftime("%p"))

PM

In [20]:
print('minute:',x.minute)

minute: 9

In [21]:
# %M: returns minute 00-59
print(x.strftime("%M"))

09

In [22]:
print('second:',x.second)

second: 49

In [23]:
# %S: returns second 00-59
print(x.strftime("%S"))

49

In [24]:
print('microsecond:',x.microsecond)

microsecond: 787722

In [25]:
# %f: returns microsecond 000000-999999
print(x.strftime("%f"))

787722

In [26]:
# Creating datetime objects
x2 = dt.datetime(2020,8,1)
x2

datetime.datetime(2020, 8, 1, 0, 0)

In [27]:
# Creating a list of datetime objects
dat = [dt.datetime(2020,3,16), dt.datetime(2020,3,20), dt.datetime(2020,4,20), dt.datetime(2020,5,15),dt.datetime(2020,6,27), dt.datetime(2020,7,26)]
dat

[datetime.datetime(2020, 3, 16, 0, 0),
 datetime.datetime(2020, 3, 20, 0, 0),
 datetime.datetime(2020, 4, 20, 0, 0),
 datetime.datetime(2020, 5, 15, 0, 0),
 datetime.datetime(2020, 6, 27, 0, 0),
 datetime.datetime(2020, 7, 26, 0, 0)]

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional, and has a default value of 0, (None for timezone).

In [28]:
dat = [dt.datetime(2020,3,16,7,26), dt.datetime(2020,3,20,8,0), dt.datetime(2020,4,20,8,5), dt.datetime(2020,5,15,7,20),dt.datetime(2020,6,27), dt.datetime(2020,7,26,8,10)]
dat

[datetime.datetime(2020, 3, 16, 7, 26),
 datetime.datetime(2020, 3, 20, 8, 0),
 datetime.datetime(2020, 4, 20, 8, 5),
 datetime.datetime(2020, 5, 15, 7, 20),
 datetime.datetime(2020, 6, 27, 0, 0),
 datetime.datetime(2020, 7, 26, 8, 10)]

## Python Date

In [29]:
# Creating date objects
x3 = dt.date(2020,8,1)
x3

datetime.date(2020, 8, 1)

In [30]:
dat2 = [dt.date(2020,3,16), dt.date(2020,3,20), dt.date(2020,4,20), dt.date(2020,5,15),dt.date(2020,6,27), dt.date(2020,7,26)]
dat2

[datetime.date(2020, 3, 16),
 datetime.date(2020, 3, 20),
 datetime.date(2020, 4, 20),
 datetime.date(2020, 5, 15),
 datetime.date(2020, 6, 27),
 datetime.date(2020, 7, 26)]

In [31]:
# printing month name
for d in dat:
    print('Month \tshort version:',d.strftime('%b'),'\tfull version:',d.strftime('%B'))

Month 	short version: Mar 	full version: March
Month 	short version: Mar 	full version: March
Month 	short version: Apr 	full version: April
Month 	short version: May 	full version: May
Month 	short version: Jun 	full version: June
Month 	short version: Jul 	full version: July

In [32]:
# printing weekday
for d in dat:
    print('Weekday \tshort version:',d.strftime('%a'),'\tfull version:',d.strftime('%A'),'\tas a number:',d.strftime('%w'))

Weekday 	short version: Mon 	full version: Monday 	as a number: 1
Weekday 	short version: Fri 	full version: Friday 	as a number: 5
Weekday 	short version: Mon 	full version: Monday 	as a number: 1
Weekday 	short version: Fri 	full version: Friday 	as a number: 5
Weekday 	short version: Sat 	full version: Saturday 	as a number: 6
Weekday 	short version: Sun 	full version: Sunday 	as a number: 0

In [33]:
# printing day of month
for d in dat:
    print('Day:',d.strftime('%d'))

Day: 16
Day: 20
Day: 20
Day: 15
Day: 27
Day: 26

In [34]:
# printing year
for d in dat:
    print('Year \tshort version:',d.strftime('%y'),'\tfull version:',d.strftime('%Y'))

Year 	short version: 20 	full version: 2020
Year 	short version: 20 	full version: 2020
Year 	short version: 20 	full version: 2020
Year 	short version: 20 	full version: 2020
Year 	short version: 20 	full version: 2020
Year 	short version: 20 	full version: 2020

In [35]:
# Calculate the number of days between two dates
deltaD = [(dat[i]-dat[i-1]).days for i in range(1,len(dat))]
deltaD

[4, 31, 24, 42, 29]

In [36]:
from dateutil import relativedelta

In [37]:
date1 = dt.date(1980,8,18)
date2 = dt.date.today()
delta = relativedelta.relativedelta(date2,date1)

In [38]:
# Calculate the number of years between two dates
print(delta.years)

40

In [39]:
# Calculate the number of months between two dates
print(delta.years * 12 + delta.months)

486

## Python Time

In [40]:
# Creating time objects
x3 = dt.time(5,20,21)
x3

datetime.time(5, 20, 21)

In [41]:
# print hours
print('Hours:',x3.hour, 'Minutes:',x3.minute,'Seconds:',x3.second )

Hours: 5 Minutes: 20 Seconds: 21

In [42]:
tim = [dt.time(3,3,16), dt.time(6,23,20), dt.time(10,4,20), dt.time(12,5,15)]
tim

[datetime.time(3, 3, 16),
 datetime.time(6, 23, 20),
 datetime.time(10, 4, 20),
 datetime.time(12, 5, 15)]

In [43]:
# printing hours
for d in tim:
    print('Hours:',d.strftime('%H'))

Hours: 03
Hours: 06
Hours: 10
Hours: 12

In [44]:
# printing minutes
for d in tim:
    print('Minutes:',d.strftime('%M'))

Minutes: 03
Minutes: 23
Minutes: 04
Minutes: 05

In [45]:
# printing seconds
for d in tim:
    print('Minutes:',d.strftime('%S'))

Minutes: 16
Minutes: 20
Minutes: 20
Minutes: 15

## Working with dates

In [46]:
datstr = ['2020-3-11-3-33','2020-4-16-4-24','2020-5-20-5-25','2020-6-16-6-36','2020-7-26-7-7']

In [47]:
type(datstr[0])

str

In [48]:
dat2 = [dt.datetime.strptime(ds,'%Y-%m-%d-%H-%M') for ds in datstr]
dat2

[datetime.datetime(2020, 3, 11, 3, 33),
 datetime.datetime(2020, 4, 16, 4, 24),
 datetime.datetime(2020, 5, 20, 5, 25),
 datetime.datetime(2020, 6, 16, 6, 36),
 datetime.datetime(2020, 7, 26, 7, 7)]

In [49]:
type(dat2[0])

datetime.datetime

In [50]:
# Calculating differences
for d in range(1,len(dat2)):
    delta = relativedelta.relativedelta(dat2[d],dat2[d-1])
    print('Date1:',dat2[d-1], '   Date2:',dat2[d])
    print('Diff years   =',delta.years)
    print('Diff months  =',delta.months)
    print('Diff days    =',delta.days)
    print('Diff hours   =',delta.hours)
    print('Diff minutes =',delta.minutes, '\n')

Date1: 2020-03-11 03:33:00    Date2: 2020-04-16 04:24:00
Diff years   = 0
Diff months  = 1
Diff days    = 5
Diff hours   = 0
Diff minutes = 51

Date1: 2020-04-16 04:24:00    Date2: 2020-05-20 05:25:00
Diff years   = 0
Diff months  = 1
Diff days    = 4
Diff hours   = 1
Diff minutes = 1

Date1: 2020-05-20 05:25:00    Date2: 2020-06-16 06:36:00
Diff years   = 0
Diff months  = 0
Diff days    = 27
Diff hours   = 1
Diff minutes = 11

Date1: 2020-06-16 06:36:00    Date2: 2020-07-26 07:07:00
Diff years   = 0
Diff months  = 1
Diff days    = 10
Diff hours   = 0
Diff minutes = 31

In [51]:
# today
today = dt.date.today()
today

datetime.date(2021, 2, 22)

In [52]:
# yesterday
yesterday = today - dt.timedelta(days = 1)
yesterday

datetime.date(2021, 2, 21)

In [53]:
# tomorrow
tomorrow = today + dt.timedelta(days = 1)
tomorrow

datetime.date(2021, 2, 23)