# DataFrame Basic Functionalities

In [1]:
# !pip install numpy
# !pip install pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {'Name':pd.Series(['John','Anna','Tom','Mary','Steve']),
        'Age' :pd.Series([20,19,23,22,29]),
        'GPA' :pd.Series([3.3,3.6,3.5,3.7,3.0])}

In [3]:
# Create a DataFrame
df = pd.DataFrame(dict)

In [4]:
df.head(2)

   Name  Age  GPA
0  John   20  3.3
1  Anna   19  3.6

In [5]:
df.tail(2)

    Name  Age  GPA
3   Mary   22  3.7
4  Steve   29  3.0

In [6]:
df.shape

(5, 3)

**T**: Transposes rows and columns

In [7]:
df.T

         0     1    2     3      4
Name  John  Anna  Tom  Mary  Steve
Age     20    19   23    22     29
GPA    3.3   3.6  3.5   3.7    3.0

**axes**: Returns a list with the row axis labels and column axis labels as the only members.

In [8]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Name', 'Age', 'GPA'], dtype='object')]

**dtypes**: Returns the data type of each column.

In [9]:
df.dtypes

Name     object
Age       int64
GPA     float64
dtype: object

**empty**: Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.

In [10]:
df.empty

False

In [11]:
df1 = pd.DataFrame()
df1.empty

True

**size**: Returns the number of elements in the DataFrame (size = rows x columns)

In [12]:
df.size

15

Notice df has 5 rows and 3 columns (3 x 5 = 15)

In [13]:
df.shape

(5, 3)

df1 is an empty DataFrame. It has 0 rows and 0 columns.

In [14]:
df1.size

0

**values**: Returns the actual data in the DataFrame as an ndarray.

In [15]:
v = df.values
v

array([['John', 20, 3.3],
       ['Anna', 19, 3.6],
       ['Tom', 23, 3.5],
       ['Mary', 22, 3.7],
       ['Steve', 29, 3.0]], dtype=object)

In [16]:
type(v)

numpy.ndarray

In [17]:
len(v)

5

In [18]:
v[0]

array(['John', 20, 3.3], dtype=object)

In [19]:
v.flatten()

array(['John', 20, 3.3, 'Anna', 19, 3.6, 'Tom', 23, 3.5, 'Mary', 22, 3.7,
       'Steve', 29, 3.0], dtype=object)

In [20]:
len(v.flatten())

15