# Pandas Input/Output

In [1]:
# !pip install numpy
# !pip install pandas

In [2]:
import numpy as np
import pandas as pd

`read_csv()`: reads data from the csv files and creates a DataFrame object.

In [3]:
path = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
df = pd.read_csv(path)
print(df.shape)
df.head(2)

(194, 2)

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA

In [4]:
df.to_csv('countries.csv')

In [5]:
df1 = pd.read_csv('countries.csv')
print(df1.shape)
df1.head(2)

(194, 3)

   Unnamed: 0  Country  Region
0           0  Algeria  AFRICA
1           1   Angola  AFRICA

In [6]:
display(df.head(2))
display(df1.head(2))

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA

   Unnamed: 0  Country  Region
0           0  Algeria  AFRICA
1           1   Angola  AFRICA

The Unnamed column is the index column. To avoit it:

In [7]:
df.to_csv('countries1.csv',index=False)

In [8]:
df2 = pd.read_csv('countries1.csv')
df2.head(2)

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA

In [9]:
display(df.head(2))
display(df1.head(2))

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA

   Unnamed: 0  Country  Region
0           0  Algeria  AFRICA
1           1   Angola  AFRICA

In [10]:
#!pip install xlsxwriter

In [11]:
import xlsxwriter

ModuleNotFoundError: No module named 'xlsxwriter'

In [12]:
writer = pd.ExcelWriter('countries.xlsx', engine='xlsxwriter')
df.to_excel(writer,sheet_name='WithoutIndex')
df1.to_excel(writer,sheet_name='WithIndex')
writer.save()

ModuleNotFoundError: No module named 'xlsxwriter'

In [13]:
df.to_json('countries.json')

In [14]:
dfj = pd.read_json('countries.json')
dfj.head(2)

   Country  Region
0  Algeria  AFRICA
1   Angola  AFRICA

Reference:
- VanderPlas, J. (2017) Python Data Science Handbook: Essential Tools for Working with Data. USA: Oâ€™Reilly Media, Inc. chapter 3